// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
.recipes-table-body {
  tr {
    border: 1px solid #aaa;
  }
  td {
    padding: 0 5px;
  }
}

.recipe-actions {
  margin-top: 40px;
}

a.btn:visited {
  color: white;
}
